<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>osolemio</title>
</head>
<body>
    <h1>hola este es el inicio de la pagina de osolemio</h1>
    <ul>
        <li>
            este es una lista en desorden
        </li>
        <li>
            podemos encontrar la informacion acerca del restaurante osolemio
        </li>
    </ul>
</body>
</html>